body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('download\ \(2\).jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center; /* Center content horizontally */
}

header {
    background-color: rgba(244, 244, 244, 0.8);
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    color: #333;
    margin: 0;
    padding: 10px 0;
}

main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px;
    border-radius: 10px;
    display: inline-block;
}

p {
    text-align: left;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}

button.center-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 20px;
}

button.center-button a {
    text-decoration: none;
    color: white;
}

button.center-button:hover {
    background-color: #575757;
}

form {
    display: inline-block;
    margin-top: 20px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="tel"] {
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
}

form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

form button:hover {
    background-color: #575757;
}
